# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml
src/main/resources/failed-key-dump-list.txt
kafka_2.11-1.1.0/
src/main/resources/processed-file-list.txt
## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
bin/
.dist/
.out/
.package/
.packager/
/target/
/.gradle/
.DS_Store
.gradle/*
build
.lib/*
.classpath
.settings/
.project
*azkaban*
